@import url(https://fonts.googleapis.com/css?family=Roboto:500,700);

html {
  color: #222;
  font-size: 1.5em;
  font-weight: 500;
  height: 100%;
}

body {
  color: #222;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  background-image: url("background.png");
  background-size: cover;
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 1.8em;
}

table {
  border: 1px solid black;
  table-layout: fixed;
  width:75%;
  margin: 0 auto;
  /* width: 500px; */
}

td, tr {
  border: 1px solid black;
  width: 300px;
  font-size: 1em;
}

#day {
  font-size: 1.5em;
  color: green;
}

#date {
  font-size: 1.2em;
  color: green;
}
/*
.temp-below-zero {

}

.temp-zero-nine {

}

.temp-nine-twenty {

}

.temp-twenty-thirty {

}

.temp-above-thirty {

} */
